* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(164, 230, 230);
  line-height: 1.8em;
}
.container {
  width: 400px;
  border-radius: 20px;
  background-color: white;
  text-align: center;
  padding: 1em 1.8em;
  margin: 6% auto;
}

.btn {
  padding: 0.4em 2em;
  background-color: aqua;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: 600;
  border-radius: 20px;
  outline: none;
  margin-top: 3em;
}
.individual {
  display: flex;
  margin-top: 1.5em;
  align-items: center;
  justify-content: center;
}
.image-container {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.individual-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  display: block;
}
.info {
  margin-right: 3em;
}
